<div class="container">
    <div class="row">
        <div class="col-11">
            <h1>welcome to <i class="fa-solid fa-book"></i>Bookers!!</h1>
            <p>in <i class="fa-solid fa-book"></i>Bookers,</p>
            <p>you can share and exchange your opinions , inpressions , and emotions about various books!</p>
            <div class="login-btn">
                <%= link_to "Log in", new_user_session_path %><br />
            </div>
            <div class="signup-btn">
                <%= link_to "Sign up", new_user_registration_path %><br />
            </div>

        </div>

    </div>

</div>



